# Backend
backend/__pycache__/
backend/.env
backend/temp/
backend/*.pdf
backend/*.jpg
backend/venv/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# General
.DS_Store
*.log
